<div class="tweet-container">
  <%= form_for @tweet do |f| %>
      <%= f.text_field :body, autofocus: true, placeholder: "What's happening?", :class => 'tweet-field' %>
      <%= f.submit "Tweet", :class => 'tweet-button' %>
  <% end %>
</div>