<div class="page-container">
  <h1>Notification</h1>
    <% @mentions.each do |mention| %>
      <li>
        <%= link_to "#{mention.name}", mention_path(mention), :class => 'tweet-tag' %>
      </li>
    <% end %>
</div>